@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0; }

#header {
  padding: 15px;
  display: flex;
  align-items: center; }
  #header h2 {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 0px 20px; }
  #header form {
    margin: 0px 20px;
    width: 400px; }
  #header ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    align-items: center; }
  #header ul a {
    text-decoration: none;
    margin: 0px 10px;
    color: black;
    font-size: 20px; }

.contHero {
  position: relative;
  display: flex; }
  .contHero img {
    max-width: 100%; }
  .contHero .txtHero {
    position: absolute;
    color: white;
    transform: translateY(350px);
    margin-left: 30px; }
    .contHero .txtHero h1 {
      font-size: 80px; }
    .contHero .txtHero p {
      font-size: 30px; }
  .contHero .txtComienzoHero {
    position: absolute;
    color: white;
    font-family: Helvetica;
    transform: translateY(700px) translateX(40vw);
    font-size: 40px; }
    .contHero .txtComienzoHero p {
      animation-iteration-count: infinite; }

.bannerMasVendidos {
  position: relative; }
  .bannerMasVendidos img {
    max-width: 100%; }
  .bannerMasVendidos .titleMasVendidos p {
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    margin-top: 10px;
    position: absolute;
    font-size: 30px;
    transform: translateX(130%) translateY(30px);
    font-weight: bolder; }

.contMasVendidos .carouselTop3 {
  width: 400px;
  margin: 20px;
  transform: translateX(100%); }
  .contMasVendidos .carouselTop3 img {
    max-width: 400px; }

.Prueba {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "carousel-index carousel-index" "card1 card2" "card3 card4"; }

.carousel-index {
  grid-area: carousel-index; }

.card1 {
  grid-area: card1; }

.card2 {
  grid-area: card2; }

.card3 {
  grid-area: card3; }

.card4 {
  grid-area: card4; }

.aperturaIndex {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .aperturaIndex .txtAperturaIndex {
    margin-top: 50px;
    display: block;
    font-size: 25px;
    width: 300px;
    font-family: Helvetica; }
  .aperturaIndex .videoCortazar {
    margin: 15px; }
