@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0; }

#navMobile {
  display: none; }

#header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }
  #header h2 {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 0px 20px; }
  #header form {
    margin: 0px 20px;
    width: 400px; }
  #header ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    align-items: center; }
  #header ul a {
    text-decoration: none;
    margin: 0px 10px;
    color: black;
    font-size: 20px;
    font-family: Helvetica, sans-serif; }

.contHero {
  position: relative;
  display: flex; }
  .contHero img {
    max-width: 100%; }
  .contHero .txtHero {
    position: absolute;
    color: white;
    transform: translateY(350px);
    margin-left: 30px; }
    .contHero .txtHero h1 {
      font-size: 80px; }
    .contHero .txtHero p {
      font-size: 30px; }
  .contHero .txtComienzoHero {
    position: absolute;
    color: white;
    font-family: Helvetica;
    transform: translateY(700px) translateX(40vw);
    font-size: 40px; }
    .contHero .txtComienzoHero p {
      animation-iteration-count: infinite; }

#masVendidosIndex {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%); }

.bannerMasVendidos {
  position: relative; }
  .bannerMasVendidos img {
    max-width: 100%; }
  .bannerMasVendidos .titleMasVendidos p {
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    margin-top: 10px;
    position: absolute;
    font-size: 30px;
    top: 8vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 5px;
    padding: 10px; }

.titleTop3 {
  margin: 20px;
  color: white;
  font-family: Poppins; }

.gridMasVendidos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "carousel-index carousel-index" "card1 card2" "card3 card4"; }

.carousel-index {
  grid-area: carousel-index;
  display: flex;
  justify-content: center; }
  .carousel-index .carouselTop3 {
    width: 400px; }
    .carousel-index .carouselTop3 img {
      max-width: 400px; }

.card1 {
  margin-top: 20px;
  grid-area: card1;
  display: flex;
  align-items: center;
  justify-content: center; }

.card2 {
  margin-top: 20px;
  grid-area: card2;
  display: flex;
  align-items: center;
  justify-content: center; }

.card3 {
  margin-top: 20px;
  grid-area: card3;
  display: flex;
  align-items: center;
  justify-content: center; }

.card4 {
  margin-top: 20px;
  grid-area: card4;
  display: flex;
  align-items: center;
  height: auto;
  justify-content: center; }

.aperturaIndex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, #434343 0%, black 100%); }
  .aperturaIndex .txtAperturaIndex {
    margin-top: 50px;
    display: block;
    font-size: 25px;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    color: white; }
  .aperturaIndex .videoCortazar {
    margin: 15px; }

#autoresIndex {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%); }

.bannerAutores {
  position: relative; }
  .bannerAutores img {
    max-width: 100%; }
  .bannerAutores .titleAutores p {
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    margin-top: 10px;
    position: absolute;
    font-size: 30px;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 5px;
    padding: 10px;
    color: white; }

.gridAutores {
  margin-top: 20px; }
  .gridAutores img {
    max-width: 300px;
    margin-top: 10px; }
  .gridAutores .cardsAutores {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }

/* PAGE:GENERO */
.sectionGenerosMobile {
  display: none; }

.contGeneros img {
  max-width: 250px; }

.contGeneros {
  display: flex;
  justify-content: space-between; }

.contGeneros a:hover {
  transform: scale(1.2); }

.cont2Generos {
  display: flex;
  justify-content: space-around;
  margin: 20px; }

.cont2Generos a:hover {
  transform: scale(1.2); }

/* PAGE E-BOOKS */
.contEbooks {
  display: flex;
  justify-content: space-around; }

.contEbooks a:hover {
  transform: scale(1.2); }

.tituloEbooks {
  margin: 20px 10px; }

/* PAGE MEMBRESIAS */
.listMembresias {
  display: flex;
  list-style-type: none;
  justify-content: center; }

.listMembresias li {
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.164); }

.listMembresias a {
  text-decoration: none; }

.tituloMembresias {
  text-align: center;
  color: brown; }

.ingresoMembresias {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 30px 0px 0px 0px; }

.ingresoMembresias form {
  border: 1px solid rgba(0, 0, 0, 0.224);
  padding: 3px; }

/* PAGE CONTACTO */
.botonContacto {
  display: flex;
  justify-content: center; }

.boton {
  width: 150px;
  background-color: red;
  border: 1px solid black; }

.mainContacto {
  margin: 20px 0px 0px 0px; }

.contTop6Latam {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "card1 card2 card3" "card4 card5 card6" ". . ."; }
  .contTop6Latam img {
    max-width: 300px; }
  .contTop6Latam a:hover {
    transform: scale(1.2); }

.card1 {
  grid-area: card1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.212) solid; }

.card2 {
  grid-area: card2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.212) solid; }

.card3 {
  grid-area: card3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.212) solid; }

.card4 {
  grid-area: card4;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.212) solid; }

.card5 {
  grid-area: card5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.212) solid; }

.card6 {
  grid-area: card6;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.212) solid; }

.titleTop6Latam {
  margin-top: 20px;
  text-align: center;
  font-family: Poppins;
  background-color: #eec305; }

.bannerKids {
  position: relative; }
  .bannerKids img {
    max-width: 100%; }
  .bannerKids .titleBannerKids p {
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    margin-top: 10px;
    position: absolute;
    font-size: 30px;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-weight: bolder;
    background-color: #eec305;
    border-radius: 10px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.74);
    text-align: center; }

/* FOOTER */
.footer {
  background-color: black; }

.footer ul {
  list-style-type: square; }

.footer a {
  color: white; }

.footer p {
  color: white; }

/* ESTRATEGIA MOBILE LAST */
/* max-width --> el @media aplica para todos los dispositivos menores al tamaño ej.500px --> para abajo */
/* max-width--> si mi dispositivo tiene COMO MUCHO.... */
/* SI el tamaño es superior, se mantiene el codigo (que escribi en vista de escritorio) */
/* ESTRATEGIA MOBILE FIRST */
/* /* min-width --> el @media aplica para todos los dispositivos mayores al tamaño ej.500px --> para arriba */
/* min-width-_> si mi dispositivo tiene COMO MINIMO... */
/* SI el tamaño es menor, se mantiene el codigo (que escribir en vista mobile) */
@media (max-width: 769px) {
  #header {
    display: none; }
  #navMobile {
    display: block; }
  .contHero {
    display: none; }
  .aperturaIndex {
    display: none; }
  .bannerMasVendidos {
    display: none; }
  #top6Latinoamerica {
    display: none; } }

@media (max-width: 769px) {
  .section1Generos {
    display: none; }
  .sectionGenerosMobile {
    display: block;
    margin-top: 60px; } }

@media (max-width: 426px) {
  .sectionGenerosMobile {
    margin-left: 10vw; } }

@media (max-width: 769px) {
  h3 {
    margin-top: 60px !important; }
  .contEbooks {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 769px) {
  .ingresoMembresias {
    margin-top: 100px !important; } }

@media (max-width: 769px) {
  .mainContacto {
    margin-top: 60px; } }
