#autoresIndex {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.bannerAutores {
    position: relative;

    img {
        max-width: 100%;
    }

    .titleAutores {
        p {
            font-family: 'Poppins', sans-serif;
            margin-left: 15px;
            margin-top: 10px;
            position: absolute;
            font-size: 40px;
            top: 30vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            font-weight: bolder;
            font-weight: bolder;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            padding: 10px;
            color: black;
        }
    }
}

.gridAutores {
    margin-top: 20px;

    img {
        max-width: 300px;
        margin-top: 10px;
    }

    .cardsAutores {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
}