.bannerMasVendidos {
    position: relative;

    img {
        max-width: 100%;
    }

    .titleMasVendidos {
        p {
            font-family: 'Poppins', sans-serif;
            margin-left: 15px;
            margin-top: 10px;
            position: absolute;
            font-size: 30px;
            transform: translateX(130%) translateY(30px);
            font-weight: bolder;
        }
    }
}

.contMasVendidos {
    .carouselTop3 {
        width: 400px;
        margin: 20px;
        transform: translateX(100%);

        img {
            max-width: 400px;
        }
    }
}

.Prueba {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "carousel-index carousel-index"
        "card1 card2"
        "card3 card4";
}

.carousel-index {
    grid-area: carousel-index;
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}