.contMasVendidos {
    h3 {
        font-family: Helvetica;
        margin-left: 15px;
        margin-top: 10px;
        background-image: url('/');
    }

    .carouselIndex {
        img {
            max-width: 300px;
        }
    }
}