.bannerMasVendidos {
    position: relative;
    img {
        max-width: 100%;
    }
    .titleMasVendidos {
        p {
            font-family: 'Poppins', sans-serif;
            margin-left: 15px;
            margin-top: 10px;
            position: absolute;
            font-size: 30px;
            transform: translateX(435px) translateY(30px);
            font-weight: bolder;
            background-color: rgba(255, 255, 255, 0.158);
            border-radius: 5px;
            padding: 10px;
        }
    }
}
.titleTop3{
    margin: 20px;
}
.gridMasVendidos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "carousel-index carousel-index"
        "card1 card2"
        "card3 card4";
}

.carousel-index {
    grid-area: carousel-index;
    display: flex;
    justify-content: center;
    .carouselTop3 {
        width: 400px;
        img {
            max-width: 400px;
        }
    }
}

.card1 {
    grid-area: card1;
    display: flex;
    align-items: center;
}

.card2 {
    grid-area: card2;
    display: flex;
    align-items: center;
}

.card3 {
    grid-area: card3;
    display: flex;
    align-items: center;
}

.card4 {
    grid-area: card4;
    display: flex;
    align-items: center;
    height: auto;
}